<% layout('/layouts/boilerplate') %>

<div class="not-found">
  <img
    src="https://static.vecteezy.com/system/resources/thumbnails/006/549/647/small_2x/404-landing-page-free-vector.jpg"
  />
  <div class="not-found-goback">
    <div class="content">
      <p class="main">Page Not Found</p>
      <p class="sub">Go Back to Home Page</p>
    </div>
    <a class="btn btn-dark" style="width: 100px" href="/listings">Home</a>
  </div>
</div>
